@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html, #root, .app, .container {
    width: 100%;
    height: 100%;
}

.container {
    font-family: "Roboto Light", sans-serif;
    font-size: 28px;
    color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d4ebf2;
}

.auth-form {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

form.input>input {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: solid 2px #f2dbd4;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
    margin-top: 0.5em;
}

#post-response-errors>ul {
    font-size: 12px;
    display: table;
    margin: 0 auto;
    padding-top: 1em;
}

.submit-button {
    padding-top: 8px;
}

.btn {
    width: 100%;
    min-width: 100px;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border: solid 2px #f2dbd4;
    border-radius: 4px;
    background: #f2dbd4;
    cursor: pointer;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}


/*============== CSS FOR THE FOLLOW USER UI ==============*/

.user-grid{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.user-block {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    border-radius: 25px;
    background-color: #F5F5F5;
    padding: 20px;
    width: 125px;
    height: 125px;
    position: relative;
    font-size: 17px;
}

.user-block:hover {
    background-color: #e5e4e2;
}

.user-block:hover .follow-btn{
    visibility: visible;
}

.user-block-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.follow-btn {
    background-color: #f7bfbe;
    border: none;
    border-radius: 25px;
    color: #808080;
    padding: 6px 10px;
    text-align: center;
    opacity: 0.6;
    visibility: hidden;
}

.follow-btn:hover {
    opacity: 1;
}
/*========================================================*/